Repository PetProjectsMy/New: changes, and which lefthook commands are due for each by the changed paths.
All: format-then-lint-code, lint:styles

lefthook.yml:

skip_output: execution

pre-commit:
  parallel: true
  commands:
    format-then-lint-code:
      glob: '*.{js,cjs,mjs,jsx,ts,tsx,html}'
      run: pnpm format --write {staged_files} && pnpm lint:code {staged_files}
      stage_fixed: true

    lint:styles:
      glob: '*.{css,scss,sass,less}'
      run: pnpm lint:styles {staged_files}

    code-spell-check:
      run: pnpm code-spell lint {staged_files}

    filename-spell-check:
      run: git diff --staged --name-only |
        pnpm code-spell
        --config=./configs/cspell/perFileConfigs/file-names-stdin.conf/config.cjs stdin

update cspell and lefthook configs
  configs/cspell/cspell.config.cjs
  configs/cspell/dictionaries/dictionariesNames.cjs
  configs/cspell/dictionaries/index.cjs
  configs/cspell/dictionaries/package-json.dict/config.cjs
  configs/cspell/dictionaries/packagesNames.dict/definition.cjs
  configs/cspell/dictionaries/packagesNames.dict/dictionary.txt
  configs/cspell/perFileConfigs/file-names-stdin.conf/config.cjs
  configs/cspell/perFileConfigs/index.cjs
  configs/cspell/perFileConfigs/package-json.conf/config.cjs
  lefthook.yml
  package.json
Due: format-then-lint-code

add commit message spell check
  lefthook.yml
  package.json
Due: none

config: add css modules loader to webpack
  configs/webpack/buildConfig/buildLoaders.ts
  configs/webpack/buildConfig/buildPlugins.ts
  configs/webpack/buildConfig/buildWebpackConfig.ts
  package.json
Due: format-then-lint-code

config: update eslint config
  configs/eslint/.eslintrc.cjs
  configs/eslint/pluginsConfigs/importPluginConfig.cjs
Due: format-then-lint-code

config: restructured eslint config && add object keys sorting plugin
  configs/eslint/.eslintrc.cjs
  configs/eslint/languagesConfigs/_index.cjs
  configs/eslint/languagesConfigs/htmlConfig.cjs
  configs/eslint/languagesConfigs/index.cjs
  configs/eslint/languagesConfigs/javascriptConfig.cjs
  configs/eslint/languagesConfigs/reactConfig.cjs
  configs/eslint/languagesConfigs/typescriptConfig.cjs
  configs/eslint/pluginsConfigs/_index.cjs
  configs/eslint/pluginsConfigs/a11yPluginConfig.cjs
  configs/eslint/pluginsConfigs/importPluginConfig.cjs
  configs/eslint/pluginsConfigs/index.cjs
  configs/eslint/pluginsConfigs/objectKeysSortPluginConfig.cjs
  configs/eslint/pluginsConfigs/utilsConfig.cjs
  configs/eslint/rules/_index.cjs
  package.json
Due: format-then-lint-code

add favicon
  public/favicon.svg
Due: none

configs: refactored cspell config; add webpack setup files dictionary
  configs/cspell/cspell.config.cjs
  configs/cspell/cspell.ignore.cjs
  configs/cspell/dictionaries/createDictionaryDefinition.cjs
  configs/cspell/dictionaries/dictionariesNames.cjs
  configs/cspell/dictionaries/index.cjs
  configs/cspell/dictionaries/webpackConfig.dict/definition.cjs
  configs/cspell/dictionaries/webpackConfig.dict/dictionary.txt
  configs/cspell/perFileConfigs/index.cjs
  configs/cspell/perFileConfigs/package-json.conf/config.cjs
  configs/cspell/perFileConfigs/webpack-config.conf/config.cjs
  configs/utils/functionCallerPath/functionCallerPath.cjs
  configs/utils/pathResolver/pathResolver.cjs
  configs/utils/pathResolver/pathResolver.ts
Due: format-then-lint-code

format: sorted objects keys in configs/ folder
  configs/eslint/.eslintrc.cjs
  configs/eslint/languagesConfigs/htmlConfig.cjs
  configs/eslint/languagesConfigs/javascriptConfig.cjs
  configs/eslint/languagesConfigs/reactConfig.cjs
  configs/eslint/languagesConfigs/typescriptConfig.cjs
  configs/eslint/pluginsConfigs/importPluginConfig.cjs
  configs/eslint/pluginsConfigs/utilsConfig.cjs
  configs/webpack/buildConfig/buildLoaders.ts
  configs/webpack/buildConfig/buildPlugins.ts
  configs/webpack/webpack.config.ts
Due: format-then-lint-code

configs: sort .editorconfig file & add max_line_length config
  .editorconfig
Due: none

configs: formatting,restructuring of eslint config; add some imports related plugins, configuration
  configs/eslint/.eslintrc.cjs
  configs/eslint/languagesConfigs/typescriptConfig.cjs
  configs/eslint/perFilesConfigs/index.cjs
  configs/eslint/pluginsConfigs/_index.cjs
  configs/eslint/pluginsConfigs/importPlugin/importPluginConfig.cjs
  configs/eslint/pluginsConfigs/importPlugin/rules/_index.cjs
  configs/eslint/pluginsConfigs/importPlugin/rules/importOrderRule.cjs
  configs/eslint/pluginsConfigs/importPlugin/rules/rulesPerFilesOverrides.cjs
  configs/eslint/pluginsConfigs/importPluginConfig.cjs
  configs/eslint/pluginsConfigs/noUnusedImportsPlugin.cjs
  configs/eslint/pluginsConfigs/sortExportsPlugin.cjs
  configs/eslint/rules/_index.cjs
  package.json
Due: format-then-lint-code

configs(eslint): add pattern for not ignoring files with names starting with dot
  configs/eslint/.eslintrc.cjs
Due: format-then-lint-code

configs(cspell): add packagesName dictionary for linting commit messages
  configs/cspell/cspell.config.cjs
  configs/cspell/cspell.ignore.cjs
  configs/cspell/perFileConfigs/commit-message.conf/config.cjs
  configs/cspell/perFileConfigs/index.cjs
  lefthook.yml
  package.json
Due: format-then-lint-code

configs(stylelint): turn off 'custom-property-empty-line-before' rule
  configs/stylelint/.stylelintrc.cjs
Due: format-then-lint-code

configs(webpack): files formatted; add 'historyApiFallback' dev server option
  configs/webpack/buildConfig/buildDevServer.ts
  configs/webpack/buildConfig/buildLoaders.ts
  configs/webpack/buildConfig/buildWebpackConfig.ts
  configs/webpack/types/buildOptions.ts
  configs/webpack/webpack.config.ts
Due: format-then-lint-code

formatting: utilTypes
  utilTypes/helpers/index.d.ts
  utilTypes/objectTypes/index.d.ts
Due: format-then-lint-code

configs: add module declaration for importing *.scss styles
  src/types/declarations.d.ts
Due: format-then-lint-code

configs(tsconfig): add src/types to typeRoots
  tsconfig.json
Due: none

add initial app template
  pnpm-lock.yaml
  src/App.tsx
  src/component.scss
  src/component.tsx
  src/constants/appRoutes/index.ts
  src/constants/index.ts
  src/index.tsx
  src/pages/AboutPage/AboutPage.async.tsx
  src/pages/AboutPage/AboutPage.tsx
  src/pages/AboutPage/index.ts
  src/pages/MainPage/MainPage.async.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/MainPage/index.ts
  src/styles/index.scss
  src/styles/normalize.scss
  src/styles/themes/dark.scss
  src/styles/themes/light.scss
  src/styles/variables/global.scss
  src/theme/ThemeProvider.tsx
  src/theme/themeContext.ts
  src/theme/useAppTheme.tsx
Due: format-then-lint-code, lint:styles

feature: add classNames utility function; add '@-utils' import alias to webpack config & tsconfig
  configs/webpack/buildConfig/buildResolvers.ts
  src/App.tsx
  src/utils/classNames.ts
  src/utils/isObject.ts
  tsconfig.json
Due: format-then-lint-code

configs(eslint): small changes
  configs/eslint/languagesConfigs/typescriptConfig.cjs
  configs/eslint/perFilesConfigs/index.cjs
  configs/eslint/pluginsConfigs/importPlugin/rules/importOrderRule.cjs
Due: format-then-lint-code

refactor: restructured folders according to FSD methodology; files formatting
  configs/cspell/cspell.ignore.cjs
  configs/cspell/perFileConfigs/file-names-stdin.conf/config.cjs
  configs/utils/pathResolver/pathResolver.ts
  configs/webpack/buildConfig/buildResolvers.ts
  configs/webpack/buildConfig/buildWebpackConfig.ts
  configs/webpack/webpack.config.ts
  src/App.tsx
  src/app/App.tsx
  src/app/styles/index.scss
  src/app/styles/normalize.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/app/styles/variables/global.scss
  src/app/types/declarations.d.ts
  src/index.tsx
  src/pages/AboutPage/index.ts
  src/pages/AboutPage/ui/AboutPage.async.tsx
  src/pages/AboutPage/ui/AboutPage.tsx
  src/pages/MainPage/index.ts
  src/pages/MainPage/ui/MainPage.async.tsx
  src/pages/MainPage/ui/MainPage.tsx
  src/shared/constants/appRoutes.ts
  src/shared/constants/index.ts
  src/shared/providers/appTheme/AppThemeContext.ts
  src/shared/providers/appTheme/AppThemeProvider.tsx
  src/shared/providers/appTheme/index.ts
  src/shared/providers/appTheme/useAppTheme.tsx
  src/shared/utils/objectsHandle/index.ts
  src/shared/utils/objectsHandle/isObject.ts
  src/shared/utils/ui/classnames.ts
  src/shared/utils/ui/index.ts
  tsconfig.json
Due: format-then-lint-code, lint:styles

formatting: formatted files with prettier
  configs/cspell/dictionaries/createDictionaryDefinition.cjs
  configs/cspell/dictionaries/index.cjs
  configs/cspell/dictionaries/packagesNames.dict/definition.cjs
  configs/cspell/dictionaries/webpackConfig.dict/definition.cjs
  configs/cspell/perFileConfigs/package-json.conf/config.cjs
  configs/cspell/perFileConfigs/webpack-config.conf/config.cjs
  configs/eslint/languagesConfigs/_index.cjs
  configs/utils/pathResolver/pathResolver.cjs
  configs/webpack/buildConfig/buildPlugins.ts
  src/app/styles/variables/global.scss
Due: format-then-lint-code, lint:styles
